@tailwind base;
@tailwind components;
@tailwind utilities;

input:focus-visible, button:focus-visible, textarea:focus-visible {
  border-radius: 0.5rem;
  outline-width: 2px;
  outline-style: solid;
  outline-color: #ffdba4;
}

body {
  color: white;
  height: 100vh;
}

input, textarea {
  all: unset;
}

input:focus, textarea:focus {
  outline: none;
  border-radius: 0;
  background-color: #27272a;
}

.content {
  max-width: 1280px;
  margin: 0 auto;
}

.anchor {
  scroll-margin-top: 100px;
}

#menu {
  gap: 2rem;
  opacity: 1;
  padding-top: 7rem;
  transition: opacity 0.4s linear, gap 0.5s, padding-top 0.5s ease-in-out;
}

#menu.fade {
  opacity: 0;
  gap: 1.6rem;
  padding-top: 4rem;
}

#bos-event-container {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

#bos-event-container::-webkit-scrollbar {
  display: none;
}

.carousel {
  opacity: 1;
  transition: opacity 2s;
}

.carousel.fade {
  opacity: 0;
}

blockquote {
  font-family: Georgia, serif;
  position: relative;
  padding: 0.5em 1em 0.5em 2em;
}
/* Thanks: http://callmenick.com/post/styling-blockquotes-with-css-pseudo-classes */
blockquote:before {
  font-family: Georgia, serif;
  position: absolute;
  font-size: 2em;
  line-height: 1;
  top: 0;
  left: 0;
  content: "\201C";
}
blockquote:after {
  font-family: Georgia, serif;
  position: absolute;
 /* display: block; don't use this, it raised the quote too high from the bottom - defeated line-height? */
  float:right;
  font-size:2em;
  line-height: 1;
  right:0;
  bottom:-0.5em;
  content: "\201D";
}
blockquote footer {
  padding: 0 2em 0 0;
  text-align:right;
}
blockquote cite:before {
  content: "\2013";
}